<!-- Start Breadcrumbs -->
<app-breadcrumbs title="List Posts" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div>
      <div class="card">
        <div class="card-header border-0">
          <div class="row g-4">
            <div class="col-sm-auto">
              <div>
                <a routerLink="/post/add" class="btn btn-success"><i
                    class="ri-add-line align-bottom me-1"></i> Add Post</a>
                </div>
            </div>
            <div class="col-sm">
              <div class="d-flex justify-content-sm-end">
                <div class="search-box ms-2">
                  <input type="text" name="searchTerm" class="form-control" placeholder="Search Posts..."
                    [(ngModel)]="searchTerm" (keyup)="applyFilter">
                  <i class="ri-search-line search-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Table data -->
                    <div class="table table-responsive">
                        <table mat-table [dataSource]="dataSource" class="oi-master-table" matSort>


                        <ng-container matColumnDef="no">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                          <td mat-cell *matCellDef="let i = index">{{ ((paginator.pageIndex)*paginator.pageSize) + (i+1) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TTILE</th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.title }}</span> 
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="post_status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>POST STATUS</th>
                          <td mat-cell *matCellDef="let element">
                              <span>{{ element.post_status }}</span> 
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBMIT DATE</th>
                          <td mat-cell *matCellDef="let element">
                              <span>{{ element.created_at | date:'short' }}</span> 
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Action</th>
                          <td mat-cell *matCellDef="let element">
                            <a routerLink="/post/edit/{{element.id}}" class="btn btn-info text-white">Edit</a>
                          </td>
                        </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                    </div>

                </div>
            </div>
        </div><!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
