ul {
    list-style: none; // Menghilangkan bullet points (titik-titik)
    padding: 0;
    margin: 0;
    border: 1px solid #ccc; // Menambahkan border
    border-radius: 4px; // Membuat sudut elemen lebih melengkung
  }
  
  li {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #f5f5f5; // Warna latar belakang
    transition: background-color 0.2s; // Efek transisi hover
  }
  
  li:hover {
    background-color: #ddd; // Warna latar belakang saat dihover
  }
  