<app-breadcrumbs title="Master Authorization" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Master Authorization</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <label for="search" class="mb-0 px-2">Search: </label>
                                    <input class="form-control form-control-sm" type="search" [(ngModel)]="searchTerm"
                                        name="search" id="search-table" (keyup)="applyFilter(searchTerm)">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success btn-sm pull-right" data-bs-toggle="modal"
                                        data-bs-target="#formModal" (click)="openFormModal(formModal)">Add</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Table data -->
                        <div class="table table-responsive">
                            <table mat-table [dataSource]="dataSource" class="oi-master-table" matSort>
                                <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | uppercase }}</th>

                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="column != 'actions'; else elseBlock">{{ element[column] }}</span>
                                        <ng-template #elseBlock>
                                            <button class="btn btn-info btn-sm mx-1"
                                                (click)="openFormModal(formModal, element)">edit</button>
                                            <button class="btn btn-danger btn-sm mx-1"
                                                (click)="onDelete(element)">delete</button>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator
  [length]="dataSource.data.length"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
  showFirstLastButtons
></mat-paginator>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--///////////////////////////////////// MODAL ////////////////////////////////////////// -->

<ng-template #formModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold" id="exampleModalgridLabel">Role</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit($event)">
                <div class="row g-3">
                    <div class="col-xxl-12">
                        <div>
                          <label for="employee_code" class="form-label">NIK / Name</label>
                          <input type="text" placeholder="Select Nik / Name" class="form-control" id="f-employee_code" formControlName="employee_code" (input)="onInput($event)">
                          <ul *ngIf="autocompleteResults.length > 0">
                            <li *ngFor="let result of autocompleteResults" (click)="selectResult(result)">{{ result.employee_code }} - {{ result.employee_name }}</li>
                          </ul>
                        </div>
                      </div>
                      
                              
                    <!--end col-->
                    <ng-select [items]="arrayDataDepartement" bindLabel="name" bindValue="id"
                        formControlName="department_id" placeholder="Select Departement">
                        <ng-template ng-optgroup-tmp let-item="item">
                            {{item.name || 'Unnamed group'}}
                        </ng-template>
                    </ng-select> 

                    <ng-select [items]="arrayDataRole" bindLabel="name" bindValue="name"
                    formControlName="role" placeholder="Select Role">
                    <ng-template ng-optgroup-tmp let-item="item">
                        {{item.name || 'Unnamed group'}}
                    </ng-template>
                </ng-select>                     <!-- end col -->
                    <div class="col-lg-12">
                        <label class="form-label">Status</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="status" id="f-active"
                                    value="active">
                                <label class="form-check-label" for="inlineRadio1">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="status" id="f-inactive"
                                    value="inactive">
                                <label class="form-check-label" for="inlineRadio2">Inactive</label>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>