.checkbox-list li {
    display: inline;
    margin-right: 10px; /* Untuk memberikan jarak antara checkbox */
  }
  .checkbox-list input[type="checkbox"] {
    /* Semua gaya yang ingin Anda tambahkan ke checkbox */
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    /* Untuk mengubah warna latar belakang ketika checkbox dicentang */
    background-color: #007BFF;
  }
  
  .checkbox-list input[type="checkbox"]:checked {
    /* Gaya ketika checkbox dicentang */
    background-color: #28A745;
  }
  