<app-breadcrumbs title="Therapeutical" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Master Therapeutical</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <label for="search" class="mb-0 px-2">Search: </label>
                                    <input class="form-control form-control-sm" type="search" [(ngModel)]="searchTerm" name="search" id="search-table" (keyup)="applyFilter(searchTerm)">  
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success btn-sm pull-right"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#formModal"
                                    (click)="openFormModal(formModal)">Add</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Table data -->
                        <div class="table table-responsive">
                            <table mat-table [dataSource]="dataSource" class="oi-master-table" matSort>
                            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | uppercase }}</th>
                                
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="column != 'actions'; else elseBlock">{{ element[column] }}</span> 
                                    <ng-template #elseBlock>
                                        <button class="btn btn-info btn-sm mx-1" (click)="openFormModal(formModal, element)">edit</button>
                                        <button class="btn btn-danger btn-sm mx-1" (click)="onDelete(element)">delete</button>
                                    </ng-template>
                                </td>
                            </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--///////////////////////////////////// MODAL ////////////////////////////////////////// -->

<ng-template #formModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold" id="exampleModalgridLabel">Therapeutical</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit($event)">
                <div class="row g-3">
                    <div class="col-xxl-12">
                        <div>
                            <label for="name" class="form-label">Therapeutical Name</label>
                            <input type="text" class="form-control" id="f-name" placeholder="Therapeutical name" formControlName="name">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-12">
                        <div>
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="f-description" placeholder="Description" formControlName="description">
                            </textarea>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6">
                        <div>
                            <label for="image" class="form-label">Image</label>
                            <p class="text-muted" *ngIf="dataForm.value.image">Selected: {{dataForm.value.image}}</p>
                            <input class="form-control" type="file" name="image" id="f-image" (change)="onFileSelected($event, 'image')">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6">
                        <div>
                            <label for="logo" class="form-label">Logo</label>
                            <p class="text-muted" *ngIf="dataForm.value.logo">Selected: {{dataForm.value.logo}}</p>
                            <input class="form-control" type="file" name="logo" id="f-logo" (change)="onFileSelected($event, 'logo')">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <label class="form-label">Status</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="status" id="f-active"
                                    value="active">
                                <label class="form-check-label" for="inlineRadio1">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="status" id="f-inactive"
                                    value="inactive">
                                <label class="form-check-label" for="inlineRadio2">Inactive</label>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>

  