<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Add Post" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit($event)" class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3"><label for="post-title-input" class="form-label">Post Title</label>
                        <input [ngClass]="{'is-invalid': submit && dataForm.controls['title'].errors}" type="text"
                            id="post-title-input" placeholder="Enter post title" class="form-control"
                            formControlName="title">
                        <div *ngIf="submit && dataForm.controls['title'].errors" class="invalid-feedback">
                            <span *ngIf="dataForm.controls['title'].errors">Please provide a valid title.</span>
                        </div>
                    </div>
                    <div><label>Post Description</label>
                        <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Publish</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3"><label for="choices-publish-status-input" class="form-label">Status</label>
                        <ng-select [items]="['Submit', 'Draft']" [multiple]="false" formControlName="post_status"
                            name="is_private" placeholder="Select post status">
                        </ng-select>
                    </div>
                    <div class="mb-3"><label for="choices-publish-visibility-input"
                            class="form-label">Visibility</label>
                        <ng-select [items]="['Public', 'Member', 'Member Medical']" [multiple]="false"
                            formControlName="is_private" name="is_private" placeholder="Select post visibility">
                        </ng-select>
                    </div>
                    <div class="mb-3"><label for="choices-publish-visibility-input" class="form-label">Comment
                            Visibility</label>
                        <ng-select [items]="['Public', 'Member', 'Member Medical', 'closed']" [multiple]="false"
                            formControlName="comment_status" name="comment_status"
                            placeholder="Select comment visibility">
                        </ng-select>
                    </div>
                    <!-- <div>
                        <button type="submit" class="btn btn-success w-100">Submit</button>
                    </div> -->
                </div>
            </div>
            <div class="card d-none">
                <div class="card-header">
                    <h5 class="card-title mb-0">Author</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <input type="text" formControlName="writer" name="author" placeholder="Author"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Post Therapeutical Area</h5>
                </div>
                <div class="card-body">
                    <ng-select [items]="metadata.therapeuticals" [multiple]="true"
                        formControlName="selectedTherapeuticals" bindValue="id" bindLabel="name"
                        name="selectedTherapeuticals" placeholder="Select therapeutical area">
                    </ng-select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Publish Schedule</h5>
                </div>
                <div class="card-body">
                    <label for="datepicker-publish-input" class="form-label">Publish Date &amp; Time</label>
                    <input formControlName="publish_date" class="form-control flatpickr-input" type="text" mwlFlatpickr
                        [altInput]="true" [convertModelValue]="true" placeholder="Select Date">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Post Categories</h5>
                </div>
                <div class="card-body">
                    <ng-select [items]="metadata.categories" [multiple]="true" formControlName="selectedCategories"
                        bindValue="id" bindLabel="name" name="selectedCategories" placeholder="Select categories">
                    </ng-select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Post Tags</h5>
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <ng-select [items]="metadata.tags" [multiple]="true" formControlName="tags" bindValue="name"
                                bindLabel="name" name="selectedtags" placeholder="Select tags">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Post Short Description (Highlights)</h5>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-2">Add short description for post</p>
                    <textarea placeholder="Enter maximum of a 255 characters" rows="3" maxlength="255"
                        class="form-control" formControlName="highlight">
                    </textarea>
                </div>
            </div>

            <div class="card">
                <div class="col-xxl-12">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Jurnal settings</h4>
                        <div class="flex-shrink-0">
                            <div class="form-check form-switch form-switch-right form-switch-md">
                                <label for="form-grid-showcode" class="form-label text-muted">is Jurnal</label>
                                <input class="form-check-input code-switcher" formControlName="isJurnal"
                                    [(ngModel)]="showContent" type="checkbox" id="form-grid-showcode">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showContent" class="card-body">
                        <div>
                            <div class="vstack gap-2">
                                <p class="text-muted mb-2">Files</p>

                                <div *ngFor="let file of jurnalFile" class="border rounded border-dashed p-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light text-secondary rounded fs-24">
                                                    <i class="ri-folder-zip-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-1"><a href="javascript:void(0);" class="text-body text-truncate d-block">{{file.filename}}</a></h5>
                                            <!-- <div>2.2MB</div> -->
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="d-flex gap-1">
                                                <!-- <button type="button" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-download-2-line"></i></button> -->
                                                <button type="button" (click)="deleteFile(file.id)" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-delete-bin-2-line"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="mt-2 text-center">
                                    <!-- <button type="button" class="btn btn-success">View more</button> -->
                                    <input class="form-control" type="file" name="image" id="f-image"
                                    (change)="onFileSelected($event, 'image')">
                                </div>

                                <p class="text-muted mb-2">Reference</p>

                                <div *ngFor="let item of jurnalReferences" class="border rounded border-dashed p-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light text-secondary rounded fs-24">
                                                    <!-- <i class="ri-folder-zip-line"></i> -->
                                                    <i class="ri-article-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-1"><a href="javascript:void(0);" class="text-body text-truncate d-block">{{item.reference}}</a></h5>
                                            <!-- <div>2.2MB</div> -->
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="d-flex gap-1">
                                                <!-- <button type="button" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-download-2-line"></i></button> -->
                                                <button type="button" (click)="deleteRef(item.id)" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-delete-bin-2-line"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <textarea placeholder="Enter maximum of a 255 characters" rows="3" maxlength="255"
                                    class="form-control" formControlName="references">
                                </textarea>

                                <div class="col-12">
                                    <button class="btn btn-primary" type="button" (click)="addReference()" >Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="col-12">
                    <button type="submit" class="btn btn-success w-100">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>