<app-breadcrumbs title="Task List" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <label for="search" class="mb-0 px-2">Search: </label>
                                    <input class="form-control form-control-sm" type="search" [(ngModel)]="searchTerm"
                                        name="search" id="search-table" (keyup)="applyFilter(searchTerm)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Table data -->
                        <div class="table table-responsive">
                            <table mat-table [dataSource]="dataSource" class="oi-master-table" matSort>

                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.type | titlecase}}</span>
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="subject">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.subject | titlecase}}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="publish">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Publish</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.publish | titlecase}}</span>
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="area">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.area | titlecase}}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="writer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.writer | titlecase}}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span>{{ element.created_at | date:"dd-MM-YYYY" }}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span [innerHTML]="element.status | status_article"></span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                        <button class="btn btn-primary btn-sm mx-1"
                                            (click)="viewElement(element)">view</button>
                                    </td>
                                </ng-container>






                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>