/* You can add global styles to this file, and also import other style files */


/* Custom class to style mat-table like a Bootstrap table */
.oi-master-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #fff;
  
    th, td {
      padding: 0.75rem;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
    }

    tr {
      border-bottom: none;
    }
  
    th {
      background-color: #f8f9fa;
      border-bottom: 2px solid #dee2e6;
    }
  
    tbody tr:nth-child(odd) {
      background-color: #f8f9fa;
    }
  
    tbody tr:hover {
      background-color: #e2e6ea;
    }
  
    a {
      text-decoration: none;
      color: #007bff;
    }
  
    a:hover {
      text-decoration: underline;
      color: #0056b3;
    }
  
    .mat-sort-header-button {
      display: flex;
      align-items: center;
      padding-right: 16px;
  
      .mat-sort-header-arrow {
        display: flex;
        flex-direction: column;
  
        &::before {
          content: '';
          border: 6px solid transparent;
        }
      }
  
      .mat-sort-header-indicator {
        position: absolute;
        display: flex;
        align-items: center;
        right: 8px;
  
        &::before {
          content: '';
          border: 6px solid transparent;
        }
  
        mat-icon {
          margin-left: 4px;
        }
      }
  
      &.mat-sort-header-arrow-disabled::before,
      &.mat-sort-header-indicator-disabled::before {
        border-top-color: #ccc;
      }
    }
  }


  

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;


}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
  
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid rgb(30, 30, 30);
  color: black;

  box-shadow: rgb(239, 239, 239);
  border-radius: 0.475rem;
  padding: 1rem 0;
  background-color: rgb(255, 255, 255);
}
