<app-breadcrumbs title="Master Permission" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Master Permission</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <label for="search" class="mb-0 px-2">Search: </label>
                                    <input class="form-control form-control-sm" type="search" [(ngModel)]="searchTerm"
                                        name="search" id="search-table" (keyup)="applyFilter(searchTerm)">
                                </div>
                            </div>
                            <div class="col-md-8">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Table data -->
                        <div class="table table-responsive">
                            <table mat-table [dataSource]="dataSource" class="oi-master-table" matSort>
                                <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | uppercase }}</th>

                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="column != 'actions'; else elseBlock">{{ element[column] }}</span>
                                        <ng-template #elseBlock>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>